body {
  text-align: center;
  background-color: #304E8D;
  color: #eaf2f0;
}

.pink {
  background-color: #2A124E;
}

header {
  margin-bottom: 40px;
}

p {
  margin: 0;
}

form {
  text-align: center;
  margin: 0 600px;
}

label {
  width: 100%;
}

input[type=text]{
    background-color: #223370;
    border-top: #2D062B 4px solid;
    border-left: #2D062B 4px solid;
    border-right: #2A124E 4px solid;
    border-bottom: #2A124E 4px solid;
}

::placeholder {
    color:black;
}

input, textarea {
    border: #7CACBE 4px solid;
    border-left: #BBDFDE 4px solid;
}

checkbox {
    border: #2A124E 2px solid;
}

input,
textarea,
checkbox {
  margin-bottom: 15px;
  background-color: #eaf2f0;
}

button {
    background-color: #5686B3;
    border-bottom: #2D062B 4px solid;
    border-right: #2D062B 4px solid;
    border-left: #2A124E 4px solid;
    border-top: #2A124E 4px solid;
}

button:hover{
 background-color: #223370;
}

button:active {
background-color: #19245f;
}

input:checked + label {
    color: #2D062B;
}

input:invalid {
    border: #e13263 4px solid;
    border-left: #f3849c 4px solid;
}