body {
  background-color: #e0f2e9;
  color: #a17c6b;
  font-size: 0;
}

div,
nav,
footer {
  background-color: #ceb5a7;
}

.boxes {
  background-color: #e0f2e9;
}

.logo {
  display: inline-block;
  font-size: 40px;
  width: 50%;
  height: 50px;
}

nav {
  display: inline-block;
  font-size: 40px;
  width: 50%;
  height: 50px;
  text-align: center;
}

.boxes {
  border-top: #e0f2e9 30px solid;
  margin-bottom: 30px;
}

.boxes div {
  display: inline-block;
  font-size: 50px;
  width: 32%;
  text-align: center;
  padding: 70px 0 70px 0;
}

.two {
  margin: 0px 30px 0 30px;
}

footer {
  font-size: 40px;
  padding: 5px;
  text-align: center;
}

.body {
  background-color: #e0f2e9;
  margin-top: 50px;
}

.first-section,
.second-section {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  color: #ceb5a7;
  background-color: #e0f2e9;
}

.first-section {
  border-right: 20px #e0f2e9 solid;
}
.second-section {
  border-left: 20px #e0f2e9 solid;
}

.first-section div,
.second-section div {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  height: 100px;
  font-size: 20px;
}

.first-section div:nth-child(odd) {
  border-right: 40px #e0f2e9 solid;
  border-bottom: 20px #e0f2e9 solid;
}

.first-section div:nth-child(even) {
  border-bottom: 20px #e0f2e9 solid;
}

.second-section div:nth-child(odd) {
  border-right: 40px #e0f2e9 solid;
  border-bottom: 20px #e0f2e9 solid;
}

.second-section div:nth-child(even) {
  border-bottom: 20px #e0f2e9 solid;
}
