body {
    background-image: url("boek.png");
    background-size: cover;
}

form {
    background-color: #ECE5EE;
    margin: 40px 300px 0 300px;
    color:#738796;
    padding: 60px 40px 60px 40px;
}

::placeholder {
    color: #AEBAC7;
}

input, textarea {
    background-color:#ECE5EE;
    width: 100%;
    border: none;
    border-bottom: #738796 2px solid;
    margin: 10px 0;
}

label {
    margin: 10px 0;
}

button {
    background-color: #738796;
    color: #ECE5EE;
    border: none;
    padding: 3px 60px;
}

label:last-child, textarea{
color: #AEBAC7;
}

h1 {
    text-align: center;
}