body {
    background-color: #202739;
}

header {
    text-align: center;
}

img {
    border-radius: 20px;
}

.blue {
    color: #4EC2FA;
}

.yellow {
    color: #FFF843;
}

p, .pink{
    color: #FB6579;
}

table {
    margin: 0 320px;
    width: calc(100% - 640px);
    color: #A7A1AE;
}

th, td {
    padding: 5px 10px;
    text-align: left;
}



div {
    display: inline-block;
    padding: 5px 0;
    border-radius: 5px;
    color: white;
    width: 35px;
    text-align: center;
}

.green-div {
    background-color: #14DC4C;
}

.yellow-div {
    background-color: #FFCD00;
}

.red-div {
    background-color: #DD0000;
}

.lighter-row {
    background-color: #323C50;
}

.darker-row {
    background-color: #2D3447;
}