body {
  background-color: #f7d0f5;
}

header div {
  background-color: #7f5eaf;
  height: 50px;
  margin: 5px;
}

.div {
  background-color: #344687;
  height: 60px;
  margin: 15px 5px;
}

main div {
  height: 150px;
  background-color: #0d2845;
  margin: 5px;
  margin-bottom: 15px;
}

footer {
  margin: 5px;
}

footer div {
  background-color: #c993d8;
  height: 15px;
}

@media only screen and (min-width: 768px) {
  header div {
    height: 40px;
  }

  .div {
    height: 200px;
  }

  main div {
    height: 100px;
  }

  footer {
    display: flex;
    margin: 0;
    flex-flow: row wrap;
  }

  footer div {
    box-sizing: border-box;
    border: 5px #f7d0f5 solid;
    height: 70px;
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0 20px;
  }

  header {
    display: flex;
    flex-flow: row wrap;
  }

  header div {
    box-sizing: border-box;
    background-color: #7f5eaf;
    height: 70px;
    flex: 1;
    border: 5px #f7d0f5 solid;
    margin: 0;
  }

  .div {
    height: 300px;
  }

  main {
    display: flex;
    flex-flow: row nowrap;
  }

  main div {
    height: 200px;
    background-color: #0d2845;
    border: 0 5px #f7d0f5 solid;  
    box-sizing: border-box;
    flex: 1;  
  }

  footer {
    display: flex;
    margin: 0;
    flex-flow: row wrap;
  }

  footer div {
    box-sizing: border-box;
    border: 5px #f7d0f5 solid;
    height: 150px;
    flex: 1;
  }
}
