body {
  background-color: #f7d0f5;
}

header div {
  background-color: #7f5eaf;
  height: 50px;
  margin: 5px;
}

.div {
  background-color: #344687;
  height: 60px;
  margin: 15px 5px;
}

main div {
  height: 150px;
  background-color: #0d2845;
  margin: 5px;
  margin-bottom: 15px;
}

footer {
  margin: 5px;
}

footer div {
  background-color: #c993d8;
  height: 15px;
}

@media only screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-areas: "footer1 footer2" "footer3 footer4";
  }

  header div {
    height: 40px;
  }

  .div {
    height: 200px;
  }

  main div {
    height: 100px;
  }

  footer {
    margin: 0;
  }

  footer div {
    box-sizing: border-box;
    border: 5px #f7d0f5 solid;
    height: 70px;
  }

  .footer1 {
    grid-area: footer1;
  }

  .footer2 {
    grid-area: footer2;
  }

  .footer3 {
    grid-area: footer3;
  }

  .footer4 {
    grid-area: footer4;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0 20px;
  }

  header {
    display: grid;
    grid-template-columns: auto auto;
  }

  header div {
    box-sizing: border-box;
    background-color: #7f5eaf;
    height: 70px;
    border: 5px #f7d0f5 solid;
    margin: 0;
  }

  .div {
    height: 300px;
  }

  main div {
    height: 200px;
    background-color: #0d2845;
    border: 0 5px #f7d0f5 solid;
    box-sizing: border-box;
  }

  footer {
    display: grid;
    grid-template-areas: "footer1 footer2 footer3 footer4";
    margin: 0;
  }

  footer div {
    box-sizing: border-box;
    border: 5px #f7d0f5 solid;
    height: 150px;
  }
}
